In [49]:
import pandas as pd

colnames=['TARIH','GUNCELLEME ZAMANI', 'ALIS_SATIS', 'ISLEM ADEDI', 'ISLEM FIYATI', 'ISLEM HACMI', 'ISLEM ZAMANI'] 

date = '202304'
chunk_container = pd.read_csv('PP_GUNICIISLEM.M.' + date + '.csv',sep=';', chunksize=100)

In [50]:

first_1000 = next(chunk_container)[:1000]
print(first_1000)

         TARIH        ISLEM KODU   ORTAK SOZLESME NO ESLESEN BOLUM BILGISI
0         DATE  TRANSACTION CODE  JOINT AGREEMENT NO      MATCH TRADE ITEM  \
1   2023-04-05           IHLAS.E     AAF6D010005FCC1                   NaN
2   2023-04-05           IHLAS.E     AAF6D010005FC49                   NaN
3   2023-04-05           IHLAS.E     AAF6D010005FC4A                   NaN
4   2023-04-05           GARAN.E     AAF6D010005F20A                   NaN
..         ...               ...                 ...                   ...
95  2023-04-05          ALTIN.S1     AAF6D010005BBE7                   NaN
96  2023-04-05          ALTIN.S1     AAF6D010005BBE4                   NaN
97  2023-04-05          ALTIN.S1     AAF6D010005BBE5                   NaN
98  2023-04-05          ALTIN.S1     AAF6D010005BBE6                   NaN
99  2023-04-05          ALTIN.S1     AAF6D010005BBE7                   NaN

   ALIS_SATIS             ISLEM ADEDI ISLEM FIYATI  ISLEM HACMI
0    BUY_SELL  NUMBER OF TRANSACTIONS   PAID PRICE  TRADE VALUE  \
1           S                       1          0.8          0.8
2           S                       2          0.8          1.6
3           S                       1          0.8          0.8
4           S                       1        28.44        28.44
..        ...                     ...          ...          ...
95          A                      59           13          767
96          S                      25           13          325
97          S                      45           13          585
98          S                     130           13         1690
99          S                      59           13          767

             EMIR NO     ISLEM ZAMANI  ...         SEANS  ISLEM DURUMU
0           ORDER NO       TRADE TIME  ...       SESSION  TRADE STATUS  \
1   6ADA4301006D4EA4  09:55:01.000000  ...  P_ESLESTIRME             3
2   6ADA4301006D4E7A  09:55:01.000000  ...  P_ESLESTIRME             3
3   6ADA4301006D4E7C  09:55:01.000000  ...  P_ESLESTIRME             3
4   6ADA4301006CCDD4  09:55:01.000000  ...  P_ESLESTIRME             3
..               ...              ...  ...           ...           ...
95  6ADA4301006DE288  09:55:01.146000  ...  P_ESLESTIRME             1
96  6ADA430100709018  09:55:01.146000  ...  P_ESLESTIRME             1
97  6ADA430100709018  09:55:01.146000  ...  P_ESLESTIRME             1
98  6ADA430100709018  09:55:01.146000  ...  P_ESLESTIRME             1
99  6ADA4301006E7537  09:55:01.146000  ...  P_ESLESTIRME             1

       TAKAS TARIHI     AKTIF_PASIF TAKAS TARAFI ISLEM NO
0   SETTLEMENT DATE  ACTIVE_PASSIVE              TRADE ID  \
1                                 P            1108742224
2                                 P            1108742228
3                                 P            1108742252
4                                 P            1108742232
..              ...             ...                   ...
95                                P               2259257
96                                P               2259252
97                                P               2259254
98                                P               2259256
99                                P               2259258

   TAKAS TARAFI ORTAK ANLASMA NO    GUNCELLEME ZAMANI         DEVIR
0                        DEAL ID          UPDATE TIME  GIVE UP FLAG  \
1                      548993967  2023-04-06 05:42:30             H
2                      548993742  2023-04-06 05:42:30             H
3                      548993744  2023-04-06 05:42:30             H
4                      548989140  2023-04-06 05:42:30             H
..                           ...                  ...           ...
95                       1126867  2023-04-05 06:55:01             H
96                       1126864  2023-04-05 06:55:01             H
97                       1126865  2023-04-05 06:55:01             H
98                       1126866  2023-04-05 06:55:01             H
99                       1126867  2023-04-05 06:55:01             H

   GUNCELLEME NO  GUNCELLEME ZAMANI.1
0      UPDATE NO          UPDATE TIME
1              1  2023-04-06 05:42:31
2              1  2023-04-06 05:42:31
3              1  2023-04-06 05:42:31
4              1  2023-04-06 05:42:31
..           ...                  ...
95             1  2023-04-05 06:55:03
96             1  2023-04-05 06:55:03
97             1  2023-04-05 06:55:03
98             1  2023-04-05 06:55:03
99             1  2023-04-05 06:55:03

[100 rows x 21 columns]